[submodule "IoT-starter"]
	path = IoT-starter
	url = git@github.ibm.com:Bluemix-Docs/IoT-starter.git
	branch = master
[submodule "IoTElectronics-starter"]
	path = IoTElectronics-starter
	url = git@github.ibm.com:Bluemix-Docs/IoTElectronics-starter.git
	branch = master
[submodule "LoopBack"]
	path = LoopBack
	url = git@github.ibm.com:Bluemix-Docs/LoopBack.git
	branch = master
